.yellowbutton.white{
    background: #ffffff !important;
}

.centerpart.colorpicker {
	text-align: center;
}

.centerpart.colorpicker ul {
	padding: 0;
	margin: 10px auto;
	max-width: 250px;
}

.centerpart.colorpicker ul li{
	width: 57px;
	height: 57px;
	display: inline-block;
	border-radius: 2px;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	position: relative;
}

.centerpart.colorpicker ul li:hover {
	cursor: pointer;
}

.centerpart.colorpicker ul li i{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerpart.colorpicker ul li.white{
	background: #fff;
	border: 1px solid #2a2a2a;
}

.grey{
	background: #cfcfcf;
}

.lightred{
	background: #ffc0c8;
}

.lightbrown{
	background: #ffe3c0;
}

.lightyellow{
	background: #fffac0;
}

.lightgreen{
	background: #c0ffc9;
}

.skyblue{
	background: #c0f0ff;
}

.lightblue{
	background: #c0d4ff;
}

.lightpurple{
	background: #f2c0ff;
}

.centerpart button{
	width: 124px;
	height: 40px;
	border: none;
	background-color: #ededed;
	border-radius: 5px;
	margin: auto;
	font-size: 12px;
	font-family: GothamBold;
	color: rgba(42, 42, 42, 0.4);
	text-transform: uppercase;
	margin-bottom: 10px;
	outline: none;
}

@media only screen and (min-width: 1100px) {

	.rightpart.desktop{
		display: block;
		width: 610.5px !important;
		margin-left: 20px;
		position: relative;
	}

	.rightpart.desktop .userinfo{
		background-color: #ffe3c0;
		margin-top: 15.5px !important;
		margin-bottom: 14.8px !important;
	}

	.rightpart.desktop .avatar_part{
		background-color: #ffe3c0;
	}

	.rightpart.desktop .userinfo_top{
		padding-top: 23.2px !important;
	}

	.rightpart.desktop .avatar_part{
		width: 116px !important;
		height: 116px !important;
	}

	.rightpart.desktop .avatar_part .avatar{
		width: 104.4px !important;
		height: 104.4px !important;
		background-color: #e6e6e6;
		border: 5.8px solid #fff;
	}

	.rightpart.desktop .userinfo1{
		background: #e6e6e6 !important;
		height: 24.5px !important;
	}

	.rightpart.desktop .userinfo2{
		background: #e6e6e6 !important;
		margin-top: 19.3px !important;
		height: 193.4px !important;
		margin-bottom: 29px !important;
	}

	.rightpart.desktop .userinfo_bottom p, .rightpart.desktop .userinfo_bottom h3{
		opacity: 1 !important;
		padding-left: 33.5px !important;
	}

	.createPostcardMessage.CreatePostCardBackground .content .rightpart.desktop .userinfo_bottom p,
	.createPostcardMessage.CreatePostCardBackground .content .rightpart.desktop .userinfo_bottom h3{
		opacity: 1;
		padding-left: 33.5px;
	}

	.rightpart.desktop .userinfo_bottom p{
		font-size: 9px !important;
		padding-top: 3.2px !important;
		height: 11.6px !important;
		margin-bottom: 3.2px !important;
	}

	.rightpart.desktop .userinfo_bottom h3{
		font-size: 24.5px !important;
		padding-top: 18.7px !important;
		padding-bottom: 28.9px !important;
		height: 25px !important;
	}

	.rightpart.desktop .assets_container .avatar img{
		margin-top: 49px !important;
		margin-bottom: 20px !important;
		height: 90.9px !important;
	}

	.rightpart.desktop .assets_container .rectangle{
		height: 57.4px !important;
	}

	.rightpart.desktop .assets_container .logos{
		margin-top: 141.8px !important;
	}

	.rightpart.desktop .assets_container .logos img:first-child{
		height: 34.2px !important;
	}

	.rightpart.desktop .assets_container .logos img{
		height: 39.3px !important;
	}

	.rightpart.desktop .assets_container p{
		font-size: 6.4px !important;
		color: #858789 !important;
		opacity: 0.4 !important;
		letter-spacing: 0.5px !important;
		margin-left: 124.4px !important;
	}

	.rightpart.desktop .flipcard{
		position: absolute;
		bottom: -23px;
		right: 0;
		font-size: 10px;
		text-transform: uppercase;
	}

	.leftpart .yellowbutton{
		margin-bottom: 25px;
	}

	.centerpart.colorpicker{
		max-width:174px;
		padding: 10px 0;
	}

	.centerpart.colorpicker ul li:nth-of-type(2n){
		margin-right: 0;
	}
}

@media only screen and (max-width: 500px) {
	.centerpart ul li:nth-of-type(3n){
		margin-right: 0;
	}
}
