@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.spin {
  animation: spin 2s infinite linear; }

.loading-container {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .loading-container p {
    margin-top: 20px !important;
    text-align: center; }
